
#chart {
    height: 300px;
    width: 600px;
    background-color: #333333;
}

.line {
    stroke: red;
    stroke-width: 1;
    fill: none;
}

.y.axis .minor {
    stroke-opacity: 1;
}

g.tick line {
    stroke: blue;
}

g.tick text {
    font-size: 12px;
    fill: white;
}