
#chart {
    height: 300px;
    width: 600px;
    background-color: #333333;
    box-shadow: 0 0 10px gold;
}

.line {
    stroke: red;
    stroke-width: 1;
    fill: none;
}

.y.axis .minor {
    stroke-opacity: 1;
}

g.tick line {
    stroke: grey;
    opacity: 0.4;
}

g.tick text {
    font-size: 12px;
    fill: white;
}