{% extends "layout.html" %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="sign col-md-6">
                <span style="font-size:25px;color:#FFFFFF">Hi, Trader {{ username }}</span>
            </div>
            <div class="sign col-md-6" align="right">
                <a href="{{ url_for('trade') }}" class="btn" id="btn-history">Main Page</a>
                <a href="{{ url_for('logout') }}" class="btn">Log Out</a>
            </div>
        </div>
        <div class="sign row" id="choose-date-div">
            <div class="col-xs-2">
                <div class="sign dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            All Orders
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#" id="cdr">Custom Date Range</a></li>
                        <li><a href="#" id="sd">Specific Date</a></li>
                        <li><a href="#" id="ao">All Orders</a></li>
                    </ul>
                </div>
            </div>

        </div>
        
        <div class="sign row" style="overflow: scroll;">
            <div class="panel-group" id="history-group">
                
            </div>
        </div>
        <script>
            var json = '{{ all_orders }}';
            var find = "&#34;";
            var re = new RegExp(find, 'g');
            json = json.replace(re, "\"");
            find = "\"\"";
            re = new RegExp(find, 'g');
            json = json.replace(re, "\"");
            var obj = JSON.parse(json)
            
            var count = 1;

            for (i = obj.orders.length - 1; i >= 0; i--) {    
                var order = obj.orders[i];
                var div = document.createElement('div');

                div.className = 'panel panel-default';
                div.setAttribute('id', 'each-panel');
                div.innerHTML += '<div class="panel-heading" id="panel-title">' +
                                    '<h4 class="panel-title">' +
                                        '<a data-toggle="collapse" href="#collapse' + count +
                                        '">Start Time - ' + order.timestamp.replace('T', ' ') +
                                        '&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Total shares - ' + order.inventory +
                                        '&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Type - ' + order.type +
                                        '&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Final Status - ' + order.final_status + '</a>' +
                                    '</h4>' +
                                '</div>' +
                                '<div id="collapse' + count + '" class="panel-collapse collapse">' +
                                    '<table class = "table" id="history-table-' + count + '">' +
                                        '<thead><tr><th>ID</th><th>Type</th><th>Price ($)</th><th>Shares</th><th>Notional</th><th>Timestamp</th><th>Status</th></tr></thead>' +
                                        '<tbody id="history-log-'+ count +'">' + 
                                        '</tbody>'
                                    '</table>'+
                                '</div>';
                document.getElementById("history-group").appendChild(div);    

                for (j = 0; j < order.trades.length; j++) {
                    var historyTableId = "#history-table-" + count;
                    var historyInfo = '<tr><td>' + order.trades[j].tid + '</td>' + 
                                      '<td>' + order.trades[j].type + '</td>' + 
                                      '<td>' + order.trades[j].price + '</td>' + 
                                      '<td>' + order.trades[j].shares + '</td>' + 
                                      '<td>' + order.trades[j].notional + '</td>' + 
                                      '<td>' + order.trades[j].timestamp.replace('T', ' ') + '</td>' + 
                                      '<td>' + order.trades[j].status + '</td></tr>"';
                    $(historyTableId).find("tbody").prepend(historyInfo);
                }

                count++;
            }

            $("#cdr").click(function (event) {
                console.log("cdr");
                var text = document.getElementById("dropdownMenu").firstChild;
                text.data = "Custom Date Range   ";

                $("#choose-from-specific").remove();
                $("#choose-from-range").remove();

                var div = document.createElement('div');
                div.setAttribute('id', 'choose-from-range');
                div.innerHTML += '<form>' +
                                    '<input type="date" id="fromPicker">' +
                                    '<input type="date" id="toPicker">' +
                                    '<input type="button" id="rangeSubmitView" value="View">' +
                                '</form>';
                document.getElementById("choose-date-div").appendChild(div);
            });

            $("#sd").click(function (event) {
                console.log("sd");
                var text = document.getElementById("dropdownMenu").firstChild;
                text.data = "Specific Date   ";
                
                $("#choose-from-specific").remove();
                $("#choose-from-range").remove();

                var div = document.createElement('div');
                div.setAttribute('id', 'choose-from-specific');
                div.innerHTML += '<form>' +
                                    '<input type="date" id="datePicker">' +
                                    '<input type="button" id="specificSubmitView" value="View">' +
                                '</form>';
                document.getElementById("choose-date-div").appendChild(div);
            });

            $("#ao").click(function (event) {
                console.log("ao");
                var text = document.getElementById("dropdownMenu").firstChild;
                text.data = "All Orders  ";

                $("#choose-from-range").remove();
                $("#choose-from-specific").remove();
                
                while (count-- > 0) {
                    $("#each-panel").remove();
                }

                count = 1;
                
                for (i = obj.orders.length - 1; i >= 0; i--) {    
                    var order = obj.orders[i];

                    var div = document.createElement('div');
                    div.className = 'panel panel-default';
                    div.setAttribute('id', 'each-panel');
                    div.innerHTML += '<div class="panel-heading" id="panel-title">' +
                                        '<h4 class="panel-title">' +
                                            '<a data-toggle="collapse" href="#collapse' + count +
                                            '">Start Time - ' + order.timestamp.replace('T', ' ') +
                                            '&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Total shares - ' + order.inventory +
                                            '&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Type - ' + order.type + '</a>' +
                                        '</h4>' +
                                    '</div>' +
                                    '<div id="collapse' + count + '" class="panel-collapse collapse">' +
                                        '<table class = "table" id="history-table-' + count + '">' +
                                            '<thead><tr><th>ID</th><th>Type</th><th>Price ($)</th><th>Shares</th><th>Notional</th><th>Timestamp</th><th>Status</th></tr></thead>' +
                                            '<tbody id="history-log-'+ count +'">' + 
                                            '</tbody>'
                                        '</table>'+
                                    '</div>';
                    document.getElementById("history-group").appendChild(div);    

                    for (j = 0; j < order.trades.length; j++) {
                        var historyTableId = "#history-table-" + count;
                        var historyInfo = '<tr><td>' + order.trades[j].tid + '</td>' + 
                                          '<td>' + order.trades[j].type + '</td>' + 
                                          '<td>' + order.trades[j].price + '</td>' + 
                                          '<td>' + order.trades[j].shares + '</td>' + 
                                          '<td>' + order.trades[j].notional + '</td>' + 
                                          '<td>' + order.trades[j].timestamp.replace('T', ' ') + '</td>' + 
                                          '<td>' + order.trades[j].status + '</td></tr>"';
                        $(historyTableId).find("tbody").prepend(historyInfo);
                    }

                    count++;
                }
            });

            $("#choose-date-div").on("click", "#rangeSubmitView", function (event) {
                var startDate = $("#fromPicker").val();
                var endDate = $("#toPicker").val();
                
                if (startDate == "" || endDate == "") {
                    alert("Please select date.");
                    return false;
                }

                while (count-- > 0) {
                    $("#each-panel").remove();
                }

                var startTokens = startDate.split("-");
                var endTokens = endDate.split("-");

                count = 1;

                for (i = obj.orders.length - 1; i >= 0; i--) {    
                    var order = obj.orders[i];
                    var orderDateTokens = order.timestamp.split("T")[0].split("-");

                    if (orderDateTokens == "null") continue;

                    if (parseInt(startTokens[0]) > parseInt(endTokens[0]) ||
                       (parseInt(startTokens[0])==parseInt(endTokens[0]) && parseInt(startTokens[1])>parseInt(endTokens[1])) ||
                       (parseInt(startTokens[0])==parseInt(endTokens[0]) && parseInt(startTokens[1])==parseInt(endTokens[1]) && parseInt(startTokens[2])>parseInt(endTokens[2]))) {
                        alert("Invalid input.");
                        return false;
                    }

                    if (parseInt(startTokens[0]) <= parseInt(orderDateTokens[0]) && 
                        parseInt(endTokens[0]) >= parseInt(orderDateTokens[0]) &&
                        parseInt(startTokens[1]) <= parseInt(orderDateTokens[1]) &&
                        parseInt(endTokens[1]) >= parseInt(orderDateTokens[1]) && 
                        parseInt(startTokens[2]) <= parseInt(orderDateTokens[2]) &&
                        parseInt(endTokens[2]) >= parseInt(orderDateTokens[2])) {

                        var div = document.createElement('div');

                        div.className = 'panel panel-default';
                        div.setAttribute('id', 'each-panel');
                        div.innerHTML += '<div class="panel-heading" id="panel-title">' +
                                            '<h4 class="panel-title">' +
                                                '<a data-toggle="collapse" href="#collapse' + count +
                                                '">Start Time - ' + order.timestamp.replace('T', ' ') +
                                                '&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Total shares - ' + order.inventory +
                                                '&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Type - ' + order.type +
                                                '&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Final Status - ' + order.final_status + '</a>' +
                                            '</h4>' +
                                        '</div>' +
                                        '<div id="collapse' + count + '" class="panel-collapse collapse">' +
                                            '<table class = "table" id="history-table-' + count + '">' +
                                                '<thead><tr><th>ID</th><th>Type</th><th>Price ($)</th><th>Shares</th><th>Notional</th><th>Timestamp</th><th>Status</th></tr></thead>' +
                                                '<tbody id="history-log-'+ count +'">' + 
                                                '</tbody>'
                                            '</table>'+
                                        '</div>';
                        document.getElementById("history-group").appendChild(div);    

                        for (j = 0; j < order.trades.length; j++) {
                            var historyTableId = "#history-table-" + count;
                            var historyInfo = '<tr><td>' + order.trades[j].tid + '</td>' + 
                                              '<td>' + order.trades[j].type + '</td>' + 
                                              '<td>' + order.trades[j].price + '</td>' + 
                                              '<td>' + order.trades[j].shares + '</td>' + 
                                              '<td>' + order.trades[j].notional + '</td>' + 
                                              '<td>' + order.trades[j].timestamp.replace('T', ' ') + '</td>' + 
                                              '<td>' + order.trades[j].status + '</td></tr>"';
                            $(historyTableId).find("tbody").prepend(historyInfo);
                        }
                        count++;
                    }
                }
            });

            $("#choose-date-div").on("click", "#specificSubmitView", function (event) {
                var date = $("#datePicker").val();
                
                if (date == "") {
                    alert("Please select date.");
                    return false;
                }

                while (count-- > 0) {
                    $("#each-panel").remove();
                }

                var dateTokens = date.split("-");

                count = 1;

                for (i = obj.orders.length - 1; i >= 0; i--) {    
                    var order = obj.orders[i];
                    var orderDateTokens = order.timestamp.split("T")[0].split("-");

                    if (orderDateTokens == "null") continue;

                    if (parseInt(dateTokens[0]) == parseInt(orderDateTokens[0]) && 
                        parseInt(dateTokens[1]) == parseInt(orderDateTokens[1]) &&
                        parseInt(dateTokens[2]) == parseInt(orderDateTokens[2])) {

                        var div = document.createElement('div');

                        div.className = 'panel panel-default';
                        div.setAttribute('id', 'each-panel');
                        div.innerHTML += '<div class="panel-heading" id="panel-title">' +
                                            '<h4 class="panel-title">' +
                                                '<a data-toggle="collapse" href="#collapse' + count +
                                                '">Start Time - ' + order.timestamp.replace('T', ' ') +
                                                '&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Total shares - ' + order.inventory +
                                                '&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Type - ' + order.type +
                                                '&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Final Status - ' + order.final_status + '</a>' +
                                            '</h4>' +
                                        '</div>' +
                                        '<div id="collapse' + count + '" class="panel-collapse collapse">' +
                                            '<table class = "table" id="history-table-' + count + '">' +
                                                '<thead><tr><th>ID</th><th>Type</th><th>Price ($)</th><th>Shares</th><th>Notional</th><th>Timestamp</th><th>Status</th></tr></thead>' +
                                                '<tbody id="history-log-'+ count +'">' + 
                                                '</tbody>'
                                            '</table>'+
                                        '</div>';
                        document.getElementById("history-group").appendChild(div);    

                        for (j = 0; j < order.trades.length; j++) {
                            var historyTableId = "#history-table-" + count;
                            var historyInfo = '<tr><td>' + order.trades[j].tid + '</td>' + 
                                              '<td>' + order.trades[j].type + '</td>' + 
                                              '<td>' + order.trades[j].price + '</td>' + 
                                              '<td>' + order.trades[j].shares + '</td>' + 
                                              '<td>' + order.trades[j].notional + '</td>' + 
                                              '<td>' + order.trades[j].timestamp.replace('T', ' ') + '</td>' + 
                                              '<td>' + order.trades[j].status + '</td></tr>"';
                            $(historyTableId).find("tbody").prepend(historyInfo);
                        }
                        count++;
                    }
                }
            });

        </script>
    </main>

{% endblock %}