{% extends "layout.html" %}

{% block content %}

<video autoplay loop muted>
    <source src="static/videos/background.mp4" type="video/mp4">
</video>
<div class="sign col-md-4 col-md-offset-8">
    {% if not username %}
        <a href="{{ url_for('signup') }}" class="btn">Sign Up</a>
        <a href="{{ url_for('login') }}" class="btn">Log In</a>
    {% else %}
        <a href="{{ url_for('logout') }}" class="btn">Log Out</a>
    {% endif %}
</div>
<div id="hp-hello">
  <h1 class="ui large header">
    {% if username %}
      Hi, {{username}}
    {% else %}
      Welcome to ETLion Trading System!
    {% endif %}
  </h1>
  <h2 class="ui large header">
    Place The Order Automatically For You!
  </h2>
</div>

{% endblock %}