{% extends "layout.html" %}

{% block content %}
<div class="row">
  <div class="sign"></div>
</div>
<div class="row">
  <div class="sign col-md-2"></div>
  <div class="sign col-md-4">
    <br>
    <h1 class="ui large header" style="color:white">ETLion</hi>
    <br>
    <main class="container login-section signup-section">
      <div class="section-content">
        <form method="POST" action="/login">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.email.label }}
            {{ form.email }}
            {{ form.password.label }}
            {{ form.password }}
          </div>
          {{ form.submit(class="btn-primary") }}
        </form>
      </div>
    </main>
    <a href="{{ url_for('signup') }}" class="btn" id="signup">Sign up</a>
  </div>
  <div class="sign col-md-5">
    <br>
    <h1 class="ui large header" style="color:white">
       ETLion Trading System!
    </h1>
    <br>
    <img src="static/images/lion.gif" alt="HTML5 Icon" width="308" height="450">
    <h3 class="ui large header" style="color:white">
      Place The Order Automatically For You!
    </h3>
</div>
  </div>
</div>

<!-- <div id="hp-hello">
  <h1 class="ui large header">
    {% if username %}
      Hi, {{username}}
    {% else %}
      Welcome to ETLion Trading System!
    {% endif %}
  </h1>
  <h2 class="ui large header">
    Place The Order Automatically For You!
  </h2>
</div> -->
{% endblock %}