<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to ETLion!</title>
    <!-- styles -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="static/css/style.css"> 
    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            var count = 1;
            var pnl = 0;
            var soldShares = 0;

            socket.on('trade_log', function(param) {
                console.log(param);
                tradeInfo = '<tr><td>'+count+'</td><td>Sell</td><td>'+param.share_price+'</td><td>'+param.order_size+'</td><td>'+param.notional+'</td><td>Success</td></tr>'
                $("#trades-table").find('tbody').prepend(tradeInfo);
                count++;
                pnl += param.notional;                
                soldShares += param.order_size;
                $("span#pnl").html(pnl);
                $("span#percentage").html(Math.round(soldShares * 100 / param.total_qty));
            });
            $('form#order-form').submit(function(event) {
                socket.emit('calculate', {
                    order_discount: $('#order_discount').val(),
                    order_size: $('#order_size').val(),
                    inventory: $('#inventory').val(),
                    trading_frequency: $('#trading_frequency').val(),
                });
                soldShares = 0;
                $("span#percentage").html(0);
                return false;
            });
            $('a#id').click(function(event) {
                socket.emit('logout');
                return false;
            });
        });
    </script>
</head>
<body>
<video autoplay loop muted>
    <source src="static/videos/background.mp4" type="video/mp4">
</video>
{% block content %}
{% endblock %}

<script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
<script type="text/babel" src="{{ url_for('static', filename='scripts/js/main.js') }}"></script>

<script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
</body>
</html>
